@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}



html{
    font-size: 62.5%;
    overflow-x: hidden ;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

  
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;

   
}

.logo{
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b ;
    font-weight: bolder;
}

i{
    color: #219150 ;
}

.navbar a{
   margin-left: 2rem;  
   font-size: 1.7rem; 
   color: #000000;
}

.icons a,
.icons div{
    font-size: 2.5rem; 
    color: #000000;
    margin-left: 2rem;
    cursor: pointer;
}

.icons a:hover,
.icons div:hover{
    color: #219150 ;
}

#menu-btn{
    display: none;
}

@media (max-width:1200px) {
    .header {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
        html {
            font-size: 55% ;
        }
}

@media (max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: fixed;
        top: 0;
        /* left: 0;  now*/
        left: -110%;
        background: #ffffff;
        z-index: 1000;
        width: 35rem;
        height: 100%;
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .8);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
    }

    .header .navbar a{  
            margin: 1rem 0;
            font-size: 3rem;
    }

    .header .navbar #nav-close{
         font-size: 4rem ;
        position: absolute;
        top: 1rem;
         right: 2rem;
    }

    .header .navbar.active{
         left: 0;
         box-shadow: 0 0 0 100vh rgba(0, 0, 0, .8);
       
    }
}


@media (max-width:450px){
     html{
         font-size: 50%;
     }
}
/* 
 For search form  */

.search-form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);
}

.search-form.active{
    transform: translateY(0%);
}

.search-form #close-search{
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
    font-size: 6rem;
}

.search-form #close-search:hover{
    color: #219150;
}

.search-form  form{
    width: 70rem;
    padding: 0.2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid #fff;
    display: flex;
    justify-content: center;
}

.search-form form input{
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.search-form form input::placeholder{
    color: #aaa;
}

.search-form form label{
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}


.search-form form label:hover{
    color: #219150;
}